* {
  font-family: 'Poppins', sans-serif !important;
}

.h-50vh {
  max-height: 50vh;
}

.indent {
  text-indent: 30px;
}

.glass {
  backdrop-filter: blur(7px);
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.w-force {
  min-width: 15rem !important;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  width: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 1px;
  border-radius: 30px;
}
